

body {
    min-height: auto;
    max-width: auto;
    border-style: double;
    padding: 60px;
    
}

div#zakkheadings {
    display: block;
    position: static;
    margin-top: 15%;
    text-align: center;
    text-decoration: solid;
}

img#zakkpic {
    display: block;
    position: static;
    margin-left: 245px;
    margin-right: 30px;
}

div#zakklinks {
    display: block;
    position: static;
    margin-right: 250px;
    margin-top: -200px;
    
}



