div#zakkheadings { 
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 100px;
    text-align: center;
    border-style: solid; 
}

div#zakklinks {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 1070px;
    margin-left: 150px;
}

div#aboutzakk {
    text-align: center;
    margin-top: -370px;
    margin-right: 100px;
    margin-left: 500px;
    margin-bottom: 300px;
    padding: 20px;
    border: solid;
}



