
#body {
    padding: 100%;
    scale: auto;
    height: auto;
    width: auto;
    border: 6px;
    border-style: double;
    margin: 50px;
}

div#zakkheadings {   
    text-align: center;
    padding: 50px;
    border-style: solid;
    margin:50px;   
}

div#zakkimages {
    padding-left: 50px;   
}

div#zakklinks {
    padding-left: 20px;
    margin-top: 5%;   
}

div#zakkeducation {
    border: solid;
    padding: 50px;
    margin-left: 300px;
    margin-top: -400px;
    margin-right: 50px;
    text-align: center;
}

div#aboutzakk {
    border: solid;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 6%;
    text-align: center;
    padding: 50px;
}